
body {
  font-size: 15px;
  font-family: arial, helvetica, sans-serif;
  color: black;
}

a {
  text-decoration: underline;
  color: #215990;
}

div#iacs2016readlist {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 700px;
}

#iacs2016readlist > h1 {
  margin-top: 70px;
  text-align: left;
  font-size: 30px;
}

#iacs2016readlist > h3 {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

#iacs2016readlist > h4 {
  margin-top: 30px;
  margin-bottom: 18px;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}
#iacs2016readlist > p.biblio {
  margin-left: 2em;
  margin-top: 18px;
  margin-bottom: 18px;
  text-indent: -2em !important;
  line-height: 1.3em;
  text-align: justify;
}

.speaker {
  background-color: #ffffb0;
}

.starred {
  color: red;
/*  font-size: 24px;*/
}

